.navbar{

    border: 1px solid black;
    padding: 10px;
}

.navlist{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    display: inline-flex;
}


.navlist li{
    border: 1px solid black;
    margin: 5px;
}

.content{ 
    margin-top: 10px;
    padding: 5px;
    display: flex;
    background-image: url('./bg.jpg');
    height: 500px;
}

.welcome-text{ 
    width: 50%; 
    padding-left: 50px;
    padding-top: 50px;
}

.welcome-image{ 
    width: 50%; 
    text-align: center;
}

.h3{
    color: orange;
    font-size: 30px;
    font-family: Tahoma, sans-serif;
}


.h1{ 
    font-size: 60px;
    font-family: Tahoma, sans-serif;
}

.welcome-btn{
    color: white;
    background-color: orangered;
    border: unset;
    border-radius: 30px;
    padding: 10px;
}

.green-text{
    color: green;
}

.purple-text{
    color: purple;
}

.text-blue-underline{
    text-decoration: underline;
    color: blue;
}
.img{
    width: 50%;
    text-align: center;

}
 .feature{
    min-height:250px ;
   border: 1px solid red;
    display: flex;
    justify-content: space-between;

 }


.border{
    min-height: 50px;
    border:1px solid green;
    margin-top: 5px;
    min-height: 50px;
     width: 20%;
     text-align: center;
     color: black;

    
}
.work{
    text-align: center;
}


.services{
    display: flex;
    justify-content: space-around;
} 


.small-box{
    border: 1px solid yellow;
    width: 40%;
    display: flex;
}



.service-main-box{
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.border{
    border:1px solid yellow;
    width: 30px;
     min-height: 350px;
     text-align: right;
     display: flex;
        
}
.h2{
    text-align: center;
}

.text-center{
    text-align: center;
}

.services{
    display: flex;
    justify-content: space-around;

}


